# Optional Challenge - Verified Email List

We want you to produce a new DataFrame that contains the only following columns:
* first_name
* last_name
* email

Ensure that all first names are title cased. Do not include any records that have a missing last name, and make sure that their email is verified (**`email_verified`** should be set True).  Sort by last name and then by first.

Once you have completed the TODOs, choose the `Run Tests` button.

*Need a little extra help? Check out the [Treehouse Forum](https://teamtreehouse.com/community?instruction=4573).*

In [2]:
# Setup
import os

import pandas as pd

from utils import make_chaos

from tests.helpers import check

pd.options.display.max_rows = 10
users = pd.read_csv(os.path.join('data', 'users.csv'), index_col=0)

# Pay no attention to the person behind the curtain
make_chaos(users, 19, ['first_name'], lambda val: val.lower())

In [3]:
users.head()

,first_name,last_name,email,email_verified,signup_date,referral_count,balance
aaron,Aaron,Davis,aaron6348@gmail.com,True,2018-08-31,6.0,18.14
acook,Anthony,Cook,cook@gmail.com,True,2018-05-12,2.0,55.45
adam.saunders,Adam,Saunders,adam@gmail.com,False,2018-05-29,3.0,72.12
adrian,Adrian,Fang,adrian.fang@teamtreehouse.com,True,2018-04-28,3.0,30.01
adrian.blair,Adrian,Blair,adrian9335@gmail.com,True,2018-06-16,7.0,25.85

In [19]:
## CHALLENGE - Verified email list ##

# TODO: Narrow list to those that have email verified.
#  The only columns should be first, last and email
email_list = users[users["email_verified"]]
email_list = email_list.loc[:,["first_name","last_name","email"]]
email_list.head()

             first_name last_name                          email
aaron             Aaron     Davis            aaron6348@gmail.com
acook           Anthony      Cook                 cook@gmail.com
adrian           Adrian      Fang  adrian.fang@teamtreehouse.com
adrian.blair     Adrian     Blair           adrian9335@gmail.com
alan9443           Alan      Pope               pope@hotmail.com

In [20]:
# TODO: Remove any rows missing last names
email_list.info()

<class 'pandas.core.frame.DataFrame'>
Index: 389 entries, aaron to zachary.neal
Data columns (total 3 columns):
first_name    389 non-null object
last_name     358 non-null object
email         389 non-null object
dtypes: object(3)
memory usage: 12.2+ KB

In [24]:
# TODO: Ensure that the first names are the proper case

email_list = email_list[-email_list["last_name"].isna()]

In [30]:
# Return the new sorted DataFrame..last name then first name ascending
email_list.sort_values(by=["last_name","first_name"], ascending = [True, True],inplace=True)

In [31]:
email_list

              first_name last_name                      email
darlene.adams    Darlene     Adams          adams@hotmail.com
alvarado          Denise  Alvarado       alvarado@hotmail.com
alvarez             John   Alvarez       john4346@hotmail.com
andersen            Mark  Andersen    mark.andersen@yahoo.com
danderson          David  Anderson          david@hotmail.com
...                  ...       ...                        ...
erin4486            erin    Wright      erin.wright@gmail.com
rebecca          Rebecca     Yoder  rebecca.yoder@miranda.biz
young            Jessica     Young      jessica4028@yahoo.com
tyler.zavala       Tyler    Zavala    tyler.zavala@murray.com
sandra2565        Sandra    Zuniga     sandra5507@hotmail.com

[358 rows x 3 columns]