# Selecting Data

A common need is to grab a subset of records that meet a certain criteria. You can do this by indexing the `DataFrame` much like you've seen done with a `NumPy.ndarray`.

In [40]:
import os
import pandas as pd

users = pd.read_csv(os.path.join('data', 'users.csv'), index_col=0)
# Pop out a quick sanity check
len(users)

475

In [41]:
users.head()

,first_name,last_name,email,email_verified,signup_date,referral_count,balance
aaron,Aaron,Davis,aaron6348@gmail.com,True,2018-08-31,6,18.14
acook,Anthony,Cook,cook@gmail.com,True,2018-05-12,2,55.45
adam.saunders,Adam,Saunders,adam@gmail.com,False,2018-05-29,3,72.12
adrian,Adrian,Fang,adrian.fang@teamtreehouse.com,True,2018-04-28,3,30.01
adrian.blair,Adrian,Blair,adrian9335@gmail.com,True,2018-06-16,7,25.85

CashBox uses a referral system, everyone you refer will earn you $5 credit. Let's see if we can find everyone who **has not** yet taken advantage of that deal. The number of referrals a user has made is defined in the **`referral_count`** column.

In [42]:
# This vectorized comparison returns a new `Series` ... 
#   We are naming it so we can use it later.
no_referrals_index = users['referral_count'] < 1
# See how the boolean `Series` returned includes all rows from the `DataFrame`.
#  The value is the result of each comparison
no_referrals_index.head(20)

aaron             False
acook             False
adam.saunders     False
adrian            False
adrian.blair      False
alan9443           True
alexander7808     False
alvarado          False
alvarez           False
amanda            False
amiller           False
andersen          False
andrade           False
andrew.alvarez     True
andrew.wells      False
andrew6216        False
andrew6347        False
angela7209        False
anthony1788       False
anthony3761       False
Name: referral_count, dtype: bool

Using the boolean `Series` we just created, **`no_referrals_index`**, we can retrieve all rows where that comparison was True.

In [43]:
users[no_referrals_index].head(20)

,first_name,last_name,email,email_verified,signup_date,referral_count,balance
alan9443,Alan,Pope,pope@hotmail.com,True,2018-04-17,0,56.09
andrew.alvarez,Andrew,Alvarez,aalvarez@hotmail.com,False,2018-08-01,0,81.66
boyer7005,Sara,Boyer,boyer8636@gmail.com,True,2018-07-31,0,91.41
brandon.gilbert,Brandon,Gilbert,brandon.gilbert@hotmail.com,True,2018-04-28,0,10.17
brooke2027,Brooke,NaN,brooke6938@gmail.com,False,2018-05-23,0,7.22
bryant,Darlene,Bryant,dbryant@yahoo.com,True,2018-07-19,0,36.91
calvin.perez,Calvin,Perez,cperez@gmail.com,True,2018-02-17,0,13.01
campbell4312,Charlotte,Campbell,campbell@hotmail.com,True,2018-03-02,0,11.83
cjimenez,Charles,Jimenez,charles8775@gmail.com,True,2018-02-17,0,55.84
cynthia5799,Cynthia,Castillo,ccastillo@moore.org,True,2018-03-09,0,91.83
david,David,NaN,david300@gmail.com,True,2018-03-28,0,59.74
dedwards,Deborah,Edwards,deborah@hotmail.com,False,2018-01-13,0,25.63
emily.anderson,Emily,Anderson,emily7106@gmail.com,True,2018-02-21,0,77.69
eugene4448,Eugene,NaN,eugene@gmail.com,True,2018-06-08,0,95.38
fisher,Kenneth,Fisher,kenneth.fisher@ryan.net,True,2018-05-11,0,88.87
fitzgerald,William,Fitzgerald,wfitzgerald@pham-nguyen.com,True,2018-05-18,0,39.04
flores,Catherine,Flores,catherine346@oneal-roberts.info,True,2018-05-01,0,3.97
fuentes,Alexander,Fuentes,alexander1368@gmail.com,True,2018-08-03,0,86.57
harris7556,Kelli,Harris,kharris@gmail.com,True,2018-06-18,0,53.44
heather.wade,Heather,Wade,heather.wade@yahoo.com,True,2018-09-25,0,45.95

## Inversed index
A handy shortcut is to prefix the index with a `~` (tilde). This returns the inverse of the boolean `Series`. While I wish that the `~` was called "the opposite day" operator, it is in fact called `bitwise not` operator.

In [44]:
# Careful, double negative here. We don't need no education.
~no_referrals_index.head()

aaron            True
acook            True
adam.saunders    True
adrian           True
adrian.blair     True
Name: referral_count, dtype: bool

In [45]:
# Use the inverse of the index to find where referral values DO NOT equal zero
users[~no_referrals_index].head()

,first_name,last_name,email,email_verified,signup_date,referral_count,balance
aaron,Aaron,Davis,aaron6348@gmail.com,True,2018-08-31,6,18.14
acook,Anthony,Cook,cook@gmail.com,True,2018-05-12,2,55.45
adam.saunders,Adam,Saunders,adam@gmail.com,False,2018-05-29,3,72.12
adrian,Adrian,Fang,adrian.fang@teamtreehouse.com,True,2018-04-28,3,30.01
adrian.blair,Adrian,Blair,adrian9335@gmail.com,True,2018-06-16,7,25.85

## In `loc`
Boolean `Series` as an index may also be used as an index the `DataFrame.loc` object.

In [46]:
# Select rows where there are no referrals, and select only the following ordered columns
users.loc[no_referrals_index, ['balance', 'email']].head()

                 balance                        email
alan9443           56.09             pope@hotmail.com
andrew.alvarez     81.66         aalvarez@hotmail.com
boyer7005          91.41          boyer8636@gmail.com
brandon.gilbert    10.17  brandon.gilbert@hotmail.com
brooke2027          7.22         brooke6938@gmail.com

It is also possible to do the comparison inline, without storing the index in a variable.

Just like a NumPy `ndarray`, it's possible for a boolean `Series` to be compared to another boolean `Series` using bitwise operators.

Don't forget to surround your expressions with parenthesis to control the order of operations.

In [48]:
# Select all users where they haven't made a referral AND their email has been verified
users = users[(users['referral_count']>= 5) & users['email_verified']]
users = users.sort_values(by = 'referral_count', ascending=False)
users

,first_name,last_name,email,email_verified,signup_date,referral_count,balance
aaron,Aaron,Davis,aaron6348@gmail.com,True,2018-08-31,6,18.14
acook,Anthony,Cook,cook@gmail.com,True,2018-05-12,2,55.45
adam.saunders,Adam,Saunders,adam@gmail.com,False,2018-05-29,3,72.12
adrian,Adrian,Fang,adrian.fang@teamtreehouse.com,True,2018-04-28,3,30.01
adrian.blair,Adrian,Blair,adrian9335@gmail.com,True,2018-06-16,7,25.85
alan9443,Alan,Pope,pope@hotmail.com,True,2018-04-17,0,56.09
alexander7808,Alexander,Moore,alexander.moore@gmail.com,False,2018-03-27,2,87.71
alvarado,Denise,Alvarado,alvarado@hotmail.com,True,2018-09-07,6,26.72
alvarez,John,Alvarez,john4346@hotmail.com,True,2018-09-18,6,49.62
amanda,Amanda,Lynch,alynch@gmail.com,True,2018-09-18,2,43.76
amiller,Anne,Miller,miller@hotmail.com,False,2018-06-02,5,86.28
andersen,Mark,Andersen,mark.andersen@yahoo.com,True,2018-08-21,3,75.69
andrade,Melissa,Andrade,mandrade@yahoo.com,True,2018-01-06,3,83.22
andrew.alvarez,Andrew,Alvarez,aalvarez@hotmail.com,False,2018-08-01,0,81.66
andrew.wells,Andrew,Wells,andrew9976@yahoo.com,True,2018-06-13,5,76.07
andrew6216,Andrew,Bryan,andrew@gmail.com,True,2018-04-01,1,71.42
andrew6347,Andrew,Horton,andrew.horton@hotmail.com,True,2018-02-01,2,85.73
angela7209,Angela,Collins,collins5797@yahoo.com,True,2018-05-05,7,29.52
anthony1788,Anthony,Valdez,anthony@gmail.com,True,2018-06-30,5,70.70
anthony3761,Anthony,NaN,anthony9581@gmail.com,True,2018-08-16,6,59.81
anthony576,Anthony,Lane,anthony@yahoo.com,True,2018-03-22,7,42.60
april9082,April,Santana,april.santana@hotmail.com,True,2018-08-14,2,53.87
ariley,Alexis,Riley,ariley@gmail.com,True,2018-05-10,2,89.22
arosario,Amanda,Rosario,amanda@yahoo.com,True,2018-01-29,1,76.19
atapia,Amy,Tapia,amy@hotmail.com,True,2018-02-06,5,67.96
austin,Austin,Ashley,austin5493@gmail.com,True,2018-03-12,7,70.38
austin486,Austin,Ward,ward@hotmail.com,True,2018-01-04,7,0.48
awhitney,Amanda,Whitney,whitney6923@yahoo.com,True,2018-04-06,2,30.85
awilliams,Amanda,Williams,williams4190@yahoo.com,True,2018-09-15,7,24.80
barnes,Mikayla,Barnes,mikayla.barnes@hotmail.com,True,2018-06-15,1,1.71
...,...,...,...,...,...,...,...
timothy.heath,Timothy,Heath,heath6503@gmail.com,True,2018-06-09,6,76.78
timothy3285,Timothy,Davis,davis@jones.net,True,2018-08-04,5,43.24
tina3658,Tina,NaN,tina@hotmail.com,True,2018-08-26,2,17.41
tjohnson,Taylor,Johnson,johnson5212@gmail.com,True,2018-06-10,3,93.84
tmaxwell,Tiffany,Maxwell,tiffany@gmail.com,True,2018-05-10,6,3.90
torres,Taylor,Torres,taylor.torres@ware.info,True,2018-01-12,7,21.88
tstewart,Tricia,Stewart,tricia@yahoo.com,True,2018-06-04,4,22.33
twebster,Taylor,Webster,taylor.webster@gmail.com,True,2018-05-25,0,51.80
twhite,Timothy,White,white5136@hotmail.com,True,2018-07-06,5,99.90
tyler.zavala,Tyler,Zavala,tyler.zavala@murray.com,True,2018-07-08,2,5.98
valerie,Valerie,Cannon,valerie.cannon@yahoo.com,True,2018-04-30,2,28.31
vang,Tammie,Vang,vang@gmail.com,True,2018-07-04,5,24.61
victor,Victor,Tanner,victor@sullivan-fowler.org,False,2018-09-20,1,53.55
walsh,Kelli,Walsh,walsh@hotmail.com,True,2018-02-08,1,14.70
walters2042,Leslie,Walters,walters8435@gmail.com,True,2018-07-27,2,40.83
watts,Jenna,Watts,jenna@gmail.com,True,2018-03-12,0,54.50
wbrown,Wesley,Brown,wesley@hotmail.com,True,2018-06-24,7,35.64
wesley.hayes,Wesley,Hayes,wesley.hayes@gmail.com,True,2018-08-17,3,90.44
west,Brian,West,west@yahoo.com,True,2018-01-30,3,52.83
wilkins,David,Wilkins,david1254@goodman.info,True,2018-08-06,4,52.15
william,William,NaN,william@hotmail.com,True,2018-06-13,4,4.69
william.lee,William,Lee,lee5646@yahoo.com,True,2018-05-30,3,67.65
william2231,William,Douglas,douglas8813@yahoo.com,True,2018-05-19,4,85.32
william4588,William,Pittman,william.pittman@gmail.com,True,2018-04-11,2,2.04
william6714,William,NaN,william5677@yahoo.com,True,2018-04-26,3,74.65
wilson,Robert,Wilson,robert@yahoo.com,False,2018-05-16,5,59.75
wking,Wanda,King,wanda.king@holt.com,True,2018-06-01,2,67.08
wright3590,Jacqueline,Wright,jacqueline.wright@gonzalez.com,True,2018-02-08,6,18.48
young,Jessica,Young,jessica4028@yahoo.com,True,2018-07-17,4,75.39
zachary.neal,Zachary,Neal,zneal@gmail.com,True,2018-07-26,1,39.90